section#funcionalidades{
  padding: 40px 20px;
}


.listas{
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.lista{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-lista{
  color: rgba(41, 49, 69, 1);
  margin-top: 20px;
  font-size: 1.2rem;
}

.paragrafo-lista{
  color: rgba(110, 114, 117, 1);
  line-height: 1.3;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 15px;
}

@media(max-width: 768px){
  .listas{
    grid-template-columns: 1fr;
    gap: 60px;
  }
}